footer{
  height: 100px;
  background-Color: rgb(1, 4, 190);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}
